.App {
  height: 100vh;
  position: relative;
  text-align: center;
}

.primary {
  background-color: #3754db;
}

.secondary {
  background-color: #66cb9f;
}

.tertiary {
  background-color: #da2d64;
}
