.App {
  height: 100vh;
  position: relative;
  text-align: center;
}

// general color declaration, could have use --var instead

.primary {
  background-color: #3754db;
}

.secondary {
  background-color: #66cb9f;
}

.tertiary {
  background-color: #da2d64;
}

.greenColor {
  color: #66cb9f;
}

.redColor {
  color: #da2d64;
}
