.memory-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
  width: 850px;

  @media (max-width: 1281px) {
    width: 700px;
  }
}
